/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color (Ethiopian Green) */
  --clr-primary-1: hsl(149, 70%, 14%);
  --clr-primary-2: hsl(149, 60%, 20%);
  --clr-primary-3: hsl(149, 55%, 26%);
  --clr-primary-4: hsl(149, 50%, 32%);

  /* primary/main color */
  --clr-primary-5: #358d5f;

  /* lighter shades of primary color */
  --clr-primary-6: hsl(149, 45%, 48%);
  --clr-primary-7: hsl(149, 55%, 60%);
  --clr-primary-8: rgb(150, 233, 190);
  --clr-primary-9: hsl(149, 80%, 88%);
  --clr-primary-10: hsl(149, 100%, 96%);

  /* darkest grey - used for headings */
  --clr-grey-1: #181f25;
  --clr-grey-2: hsl(210, 18%, 20%);
  --clr-grey-3: hsl(210, 16%, 28%);
  --clr-grey-4: hsl(210, 14%, 36%);

  /* grey used for paragraphs */
  --clr-grey-5: #677583;
  --clr-grey-6: hsl(210, 12%, 60%);

  /* lighter greys (borders, backgrounds, sections) */
  --clr-grey-7: hsl(210, 14%, 72%);
  --clr-grey-8: hsl(210, 18%, 82%);
  --clr-grey-9: hsl(210, 22%, 90%);
  --clr-grey-10: hsl(210, 30%, 96%);

  --clr-white: #fff;
  --ff-primary: 'Lato', sans-serif;
  /* --ff-secondary: 'Grand Hotel', cursive; */
  --transition: all 0.3s linear;
  --ltr-spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
=============== 
Global styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}
/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--ltr-spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }
}

/* more global css */

.btn {
  padding: 0.375rem 0.75rem;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: var(--ltr-spacing);
  display: inline-block;
  /* font-weight: 700; */
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

.section {
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h2 {
  text-transform: uppercase;
}

.section-title span {
  color: var(--clr-primary-5);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/*
=============== 
Navbar
===============
*/
/*
=============== 
Hero
===============
*/
.hero {
  min-height: 100vh;
  background: var(--clr-primary-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}

.hero h1 {
  text-transform: uppercase;
}

.hero p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-grey-9);
  letter-spacing: var(--ltr-spacing);
}

.hero-btn {
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  background: var(--clr-white);
  color: var(--clr-primary-5);
}

.hero-btn:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(
        to right,
        rgba(150, 233, 190, 0.5),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4)
      ),
      url('../images/img8.jpg') center/cover no-repeat;
  }

  .hero-banner {
    padding: 0;
  }

  .hero-banner p {
    max-width: 40rem;
  }
}

/*
=============== 
About
===============
*/
/* section add to globals */
/* title add to globals */
/* section center add to globals */

.about-img,
.about-info {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .about-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-img,
  .about-info {
    flex: 0 0 calc(50% - 2rem);
    align-self: center;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1100px) {
  .about-img {
    position: relative;
  }
  .about-photo {
    position: relative;
  }

  .about-img::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--clr-primary-5);
    box-sizing: border-box;
    top: -1.5rem;
    left: -1.5rem;
    /* z-index: -1; */
  }
}

/*
=============== 
Services
===============
*/
.services {
  background: var(--clr-grey-10);
}

.service {
  text-align: center;
  margin-bottom: 3rem;
}

.service-icon {
  font-size: 2.75rem;
  background: var(--clr-primary-5);
  padding: 0.25rem;
  border-radius: var(--radius);
  color: var(--clr-white);
  transition: var(--transition);
  /* display: inline-block; */
}

.service:hover .service-icon {
  color: var(--clr-primary-1);
}

.service-info{
  margin-top: 1.25rem;
}

.service-info p {
  max-width: 20rem;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

@media screen and (min-width: 576px) {
  .services-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
  }

}

@media screen and (min-width: 992px) {
  .service {
    flex: 0 0 calc(33.33% - 1rem);
  }
}

@media screen and (min-width: 1170px) {
  .service {
    display: flex;
  }

  .service-icon {
    align-self: flex-start;
  }

  .service-info {
    padding-left: 1rem;
    text-align: left;
    margin-top: 0;
  }
}

/*
=============== 
Featured Tours
===============
*/

/*
=============== 
Contact
===============
*/

/*
=============== 
Gallery
===============
*/

/*
=============== 
Footer
===============
*/
